BOT_TOKEN=your_bot_token

WEBAPP_HOST=0.0.0.0

WEBAPP_PORT=8080

WEBHOOK_PATH=/webhook

WEBHOOK_SECRET=your_secret

WEBHOOK_URL=your_webhook_url

DATABASE_URL=your_database_url

ADMINS_IDS=12345678,987654321